@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.right{
    width: 100%;
    padding: 20px 20px;
}

.nav{
    width: 100%;
    display: flex;
    font-family: Outfit;
    color: rgb(168, 168, 168);
    align-items: center;
    justify-content: space-between;
}

.nav img{
    width: 70px;
    border: rgb(207,207,207) 3px solid;
    border-radius: 50%;
}

.body{
    max-width: 900px;
    margin: auto;
}

.body .greet{
    margin: 50px 0;
    font-size: 45px;
    color: rgb(168, 168, 168);
    font-family: Outfit;
}

.body .greet span{
    font-size: 75px;
    background: -webkit-linear-gradient(16deg,rgb(18, 127, 170),rgb(201, 0, 140));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cards{
    display: flex;
    align-items: center;
    gap: 50px;
}

.cards .card{
    width: 500px;
    height: 250px;
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    border-radius: 10px;
    font-family: Outfit;
    gap: 20px;
    font-size: 25px;
}

.card:hover{
    background-color: rgb(207,207,207);
}

.card img{
    width: 50px;
}

.ip{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
    padding: 20px;
    border-radius: 30px;
    width: 900px;
    background-color: rgb(235, 235, 235);
}

.ip input{
    background-color: rgb(235, 235, 235);
    border: none;
    border-radius: 30px;
    outline: 0;
}

.send{
    display: flex;
    align-items: center;
    gap: 10px;
}

.send img{
    width: 25px;
    cursor: pointer;
}

.ip input{
    font-family: Outfit;
    padding: 8px;
    width: 800px;
    font-size: 15px;
}

.result{
    padding: 30px 3%;
    min-height: 50vh;
    max-height: 50vh;
    overflow-y: scroll;
    font-family: Outfit;
}

.quest{
    display: flex;
    align-items: center;
    gap: 20px;
}

.quest img{
    width: 40px;
    border: rgb(207,207,207) 2px solid;
    border-radius: 50%;
}

.result::-webkit-scrollbar{
    display: none;
}

.ans{
    display: flex;
    align-items: start;
    padding: 30px 0;
    gap: 20px;
}

.ans img{
    width: 35px;
}

.ans p{
    font-family: Outfit;
    font-size: 20px;
    line-height: 1.4;
    color: rgb(59, 59, 59);
}

.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.loader hr{
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right,rgb(18, 127, 170),rgb(255, 255, 255),rgb(201, 0, 140),rgb(255,255,255));
    background-size: 800px 45px;
    height: 25px;
    animation: load 3s infinite ease;
}

@keyframes load {
    0%{
        background-position: -800px 0;
    }
    100%{
        background-position: 800px 0;
    }
}

.footer{
    display: flex;
    flex-direction: column;
    font-family: Outfit;
    font-size: 10px;
    padding: 20px 20px;
}

@media (max-width:600px) {
    .cards{
        display: flex;
        flex-direction: column;
    }

    .cards .card{
        width: 300px;
        height: 200px;
    }

    .ip{
        width: 330px;
    }

    .ip input{
        width: 200px;
    }
}